body {
    background-color: #8592a9;
}

.container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.hand {
    display: flex;
    gap: 2rem;
}

.username {
    text-decoration: underline;
    margin-bottom: 2rem;
}

.separator {
    height: inherit;
    width: 0.3rem;
    background-color: black;
}

.card {
    width: 10rem;
}

.card:hover {
    transform: scale(1.2);
}